.body{
    min-width: 1600px;
}
.fristContent{
    margin-top: 120px;
    display: flex;
}
.menweiMessage{
    width: 500px;
    padding: 150px 200px 0 250px;
    text-align: center;
}
.menweiMessage>p:nth-child(1){
    font-size: 30px;
    color: #6fbfa4;
}
.menweiMessage>p:nth-child(2){
    height: 80px;
    font-size: 60px;
    color: #d00f0f;
    line-height: 80px;
    border-top: 2px #c6baba solid;
    border-bottom: 2px #c6baba solid;
    margin-top: 30px;
}
.menweiMessage>p:nth-child(3){
    font-size: 17px;
    color: #6fbfa4;
    margin-top: 20px;
}
.menweiMessage>p:nth-child(4){
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin-top: 50px;
    font-size: 19px;
}
.secondContent{
    width: 100%;
    background-image: url(../img/baby2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.content01{
    display: flex;
    align-items: center;
}

.content01>p{
    font-size: 240px;
    color: #fee703;
    font-family: serif;
    font-style: italic;
    margin-left: 300px;
}

.menJin{
    width: 1000px;
    padding-left: 40px;
}

.menJin>p:nth-child(1){
    font-size: 50px;
    color: #ffffff;
    border-bottom: 2px #ffffff solid;
    padding-left: 40px;
    font-weight: bold;
    padding-right: auto;
}
.advertisingMachine::before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    right: 40px;
    bottom: -22px;

}
.advertisingMachine::after{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 688px;
    bottom: -22px;

}
.menJin>p:nth-child(n + 2){
    font-size: 20px;
    padding-left: 55px;
    font-weight: 700;
}
.content02{
    display: flex;
    align-items: center;
}
.content02>p{
    font-size: 240px;
    color: #fee703;
    font-family: serif;
    font-style: italic;
    margin-left: 400px;
}
.content03{
    display: flex;
    align-items: center;
}
.content03>p{
    font-size: 240px;
    color: #fee703;
    font-family: serif;
    font-style: italic;
    margin-left: 150px;
}
.babyPosition{
    background-image: url(../img/position1.jpg);
    height: 713px;
    padding: 200px 0 0 300px;
}
.babyPosition>p:nth-child(2n + 1){
    color: #ffffff;
    font-size: 111px;
}
.babyPosition>p:nth-child(2n){
    color: #ffffff;
    font-size: 31px;
    width: 750px;
}
.babyApp{
    background-image: url(../img/babyapp.jpg);
    height: 500px;
    padding-top: 400px;
}
.babyApp>p{
    width: 590px;
    margin-left: 1100px;
    font-weight: bold;
    display: inline-block;

}
.babyApp>p:nth-child(1){
    font-size: 78px;
}
.babyApp>p:nth-child(2){
    font-size: 21px;
    margin-top: 20px;
}

.bottomN{
    height: 100px;
    padding: 80px 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.productCommunicat{
    height: 100px;
    width: 300px;
}
.productCommunicat>p:nth-child(1){
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.productCommunicat>a{
    display: block;
    text-decoration: none;
    color: #000;
}
.productCommunicat>p:nth-child(2){
    margin-top: 30px;
}
.onlineService{
    height: 100px;
}
.onlineService>p{
    line-height: 30px;
}
.onlineService>img{
    margin-right: 40px;
}
.onlineservice1{
    display: block;
    background-color: #fb9336;
    line-height: 60px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.companyAddress{
    height: 100px;
    background-color: #f1f1f1;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.companyAddress>p{
    margin-right: 50px;
}
